.navbar {
  height: 70px;
  background: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links button {
  margin-left: 15px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #374151;
  color: white;
  font-weight: 500;
}

.nav-links button:hover {
  background: #4b5563;
}

.logout-btn {
  background: #ef4444;
}

.logout-btn:hover {
  background: #dc2626;
}