* {
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.success {
  background: #e8f8ee;
  color: #198754;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
.login-card {
  width: 380px;
  background: #fff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  margin-bottom: 4px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.input-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.input-group input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}
.login-container {
    height: 100vh;
    background-image: url("../assets/17973908.jpg");
    background-size: cover;        /* resmi ekranı doldurur */
    background-position: center;   /* ortalar */
    background-repeat: no-repeat;  /* tekrar etmez */

    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.login-container {
    position: relative;
}

.login-card {
    position: relative;
    z-index: 1;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.2s;
}

.login-btn:hover {
  background: #4338ca;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 10px;
}

.footer-text {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.footer-text span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 500;
}